{% extends 'movies/fragments/base.html' %}
{% block main-content %}
    <div class="row">
        <div class="col s12">
        <a class="waves-effect waves-light btn right red darken-1" href="{% url 'movies:order-create' %}"><i
            class="material-icons left">add</i>Agregar nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% if not orders %}
                <div class="card-panel red">
                    <span class="white-text">No hay registros actualmente</span>
                </div>
            {% else %}
                <table class="striped centered">
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Items</th>
                        <th>Dirección</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.customer_name }}</td>
                            <td>{{ order.items }}</td>
                            <td>{{ order.address }}</td>
                            <td>{{ order.status }}</td>
                            <td>
                                <a class="btn-floating btn-small waves-effect waves-light red"
                                   href="{% url 'movies:order-edit' order.pk %}"><i class="material-icons">edit</i></a>
                                <a class="btn-floating btn-small waves-effect waves-light blue"
                                   href="{% url 'movies:order-delete' order.pk %}"><i class="material-icons">delete</i></a>
                                <a class="btn-floating btn-small waves-effect waves-light green"
                                   href="{% url 'movies:order-detail' order.pk %}"><i class="material-icons">visibility</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}